# Global snippets

# CDATA
snippet cdata
	<![CDATA[${1}]]>
# JS script tag.
snippet js
	<script type="text/javascript">
		${1}
	</script>
# New PHP file.
snippet php
	<?php
		${1}
	?>
snippet bash
	#!/bin/bash
snippet py
	#!/usr/bin/env python

	def main():
		pass${1}

	if __name__ == "__main__":
		main()
snippet uuid
	`split(execute('python import uuid; print(uuid.uuid4().hex)'))[0]`${0}
