# Global snippets

# CDATA
snippet cdata
	<![CDATA[${1}]]>
# JS script tag.
snippet js
	<script type="text/javascript">
		${1}
	</script>
# New PHP file.
snippet php
	<?php
		${1}
	?>
snippet bash
	#!/bin/bash
snippet py
	#!/usr/bin/env python
