# Nothing here!
snippet htm
	<!DOCTYPE html>
	<html lang="en-GB">
		<head>
			<meta charset="UTF-8">
		</head>
		<title>Page Title</title>
		<body>
			${1}
		</body>
	</html>
snippet js
	<script type="text/javascript">
	</script>
snippet ready
	$(document).ready(function()
	{
		${1}
	});
snippet css
	<link rel="stylesheet" href="${1}" />
snippet style
	<style type="text/css">
		${1}
	</style>
snippet cdata
	<![CDATA[${1}]]>
snippet .
	&nbsp;
