# Yo dawg, I heard you like snippets,
# so we wrote snippets for your snippets so you can
# snip while you snip.
snippet snip
	snippet ${1:trigger}
		${2}
snippet msnip
	snippet ${1:trigger} ${2:description}
		${3}
