[submodule "bundle/nerdtree"]
	path = pack/git-plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/nerdtree-project"]
	path = pack/git-plugins/start/nerdtree-project
	url = https://github.com/janlay/NERD-tree-project.git
[submodule "bundle/unite"]
	path = pack/git-plugins/start/unite
	url = https://github.com/Shougo/unite.vim.git
[submodule "bundle/vim-pug"]
	path = pack/git-plugins/start/vim-pug
	url = https://github.com/digitaltoad/vim-pug.git
[submodule "bundle/tlib_vim"]
	path = pack/git-plugins/start/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/vim-addon-mw-utils"]
	path = pack/git-plugins/start/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/snipmate"]
	path = pack/git-plugins/start/snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "bundle/ale"]
	path = pack/git-plugins/start/ale
	url = https://github.com/dense-analysis/ale.git
	ignore = all
[submodule "bundle/vader"]
	path = pack/git-plugins/start/vader
	url = https://github.com/junegunn/vader.vim.git
[submodule "bundle/python-tools"]
	path = pack/git-plugins/start/python-tools
	url = https://github.com/w0rp/python_tools.git
	ignore = all
[submodule "bundle/vim-misc"]
	path = pack/git-plugins/start/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule "bundle/vim-reload"]
	path = pack/git-plugins/start/vim-reload
	url = https://github.com/xolox/vim-reload.git
[submodule "bundle/typescript-vim"]
	path = pack/git-plugins/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "bundle/lightline"]
	path = pack/git-plugins/start/lightline
	url = https://github.com/w0rp/lightline.vim.git
[submodule "pack/git-plugins/start/vim-ps1"]
	path = pack/git-plugins/start/vim-ps1
	url = https://github.com/PProvost/vim-ps1.git
[submodule "pack/git-plugins/start/vim-speech"]
	path = pack/git-plugins/start/vim-speech
	url = https://github.com/w0rp/vim-speech.git
[submodule "pack/git-plugins/start/splitjoin.vim"]
	path = pack/git-plugins/start/splitjoin.vim
	url = git@github.com:AndrewRadev/splitjoin.vim.git
[submodule "pack/git-plugins/start/vim-coffee-script"]
	path = pack/git-plugins/start/vim-coffee-script
	url = git@github.com:kchmck/vim-coffee-script.git
[submodule "pack/git-plugins/start/vim-test"]
	path = pack/git-plugins/start/vim-test
	url = https://github.com/janko-m/vim-test.git
[submodule "pack/git-plugins/start/vim-hug-neovim-rpc"]
	path = pack/git-plugins/start/vim-hug-neovim-rpc
	url = https://github.com/roxma/vim-hug-neovim-rpc.git
[submodule "pack/git-plugins/start/nvim-yarp"]
	path = pack/git-plugins/start/nvim-yarp
	url = https://github.com/roxma/nvim-yarp.git
[submodule "pack/git-plugins/start/deoplete"]
	path = pack/git-plugins/start/deoplete
	url = https://github.com/Shougo/deoplete.nvim.git
[submodule "pack/git-plugins/start/vim-js-pretty-template"]
	path = pack/git-plugins/start/vim-js-pretty-template
	url = https://github.com/Quramy/vim-js-pretty-template.git
