[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "bundle/nerdtree-project"]
	path = bundle/nerdtree-project
	url = git@github.com:janlay/NERD-tree-project.git
[submodule "bundle/unite"]
	path = bundle/unite
	url = git@github.com:Shougo/unite.vim.git
[submodule "bundle/vim-pug"]
	path = bundle/vim-pug
	url = git@github.com:digitaltoad/vim-pug.git
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = git@github.com:tomtom/tlib_vim.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = git@github.com:MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git@github.com:garbas/vim-snipmate.git
[submodule "bundle/ale"]
	path = bundle/ale
	url = git@github.com:w0rp/ale.git
	ignore = all
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule "bundle/vader"]
	path = bundle/vader
	url = git@github.com:junegunn/vader.vim.git
[submodule "bundle/python-tools"]
	path = bundle/python-tools
	url = git@github.com:w0rp/python_tools.git
[submodule "bundle/vim-misc"]
	path = bundle/vim-misc
	url = git@github.com:xolox/vim-misc.git
[submodule "bundle/vim-reload"]
	path = bundle/vim-reload
	url = git@github.com:xolox/vim-reload.git
