[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "bundle/nerdtree-project"]
	path = bundle/nerdtree-project
	url = git@github.com:janlay/NERD-tree-project.git
[submodule "bundle/unite"]
	path = bundle/unite
	url = git@github.com:Shougo/unite.vim.git
[submodule "bundle/vim-pug"]
	path = bundle/vim-pug
	url = git@github.com:digitaltoad/vim-pug.git
[submodule "bundle/vim-autopep8"]
	path = bundle/vim-autopep8
	url = git@github.com:tell-k/vim-autopep8.git
